@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;900&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --blue:#D7EFF9;
    --green:#DEF9EA;
    --white:#f7f7f7;
    --bold:900;
    --medium:700;
    --regular:400;
    --thin:300;
}
body{
    width: 100vw;
    max-width: 100%;
    font-family: "Poppins", sans-serif;
    
    
}
*img{
    width: 100%;
    height: auto;
}

.advantages-section{
    background-image: url("./imagenes/fondo2.webp");
    background-repeat: no-repeat;
    background-size: 1500px 1500px;
    padding: 1rem;

}

.advantages-section h1{
    color:var(--green);
    font-size: 3rem;
    text-align: center;
    font-weight: var(--medium);
    text-transform: uppercase;
    margin:2rem ;
}
.advantages-section h3{
    color: var(--white);
    font-size: 2rem;
    text-align: center;
    margin: 2rem;
    font-weight: var(--regular);
}
.advantages-section p{
    text-align: center;
    font-size: 1.5rem;
    color: var(--white);
    max-width: 300px;
   
}
.info-card{
    width: 60%;
    margin-top: 2rem;
}
.card-container{
    display: flex;
    flex-direction: column;
    
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:2rem 0 2rem 0;
}
.pillars-section{
    background-image: url("./imagenes/fondo1.jpg");
    background-repeat: no-repeat;
    background-size: 1500px 1000px;
    padding: 1rem;
} 
.pillars-section h2{
    color: var(--blue);
    font-weight: var(--bold);
    font-size: 3rem;
    text-align: center;
    margin:2rem 0;
}
.pillars-section p{
    text-align: center;
    font-size: 1.5rem;
    color: var(--white);
    max-width: 300px;
    margin:1rem;
}
.pillars-img{
    width: 100px;
    height: 100px;
    border-radius: 20px;
}

@media(min-width:1024px){
    .advantages-section{
        padding-bottom: 0;
    }
    .card-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
        border-radius: 20px;
    }
    .advantages-section p{
        max-width: 800px;
        margin:2rem 2rem;
    }
  
}


